wp-admin/
wp-content/
wp-includes/
/gestoria/vendor/
gestoria/vendor/**
gestoria/vendor/composer/
.htaccess
license.txt
readme.html
wp-activate.php
wp-comments-post.php
wp-blog-header.php
wp-config.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-signup.php
wp-trackback.php
wp-cron.php
wp-config-sample.php
wp-settings.php
.idea/
xmlrpc.php
index.php
/node_modules/
/tramites/
/cypress/integration/examples/
